@import "tailwindcss";
@import "./styles/form.css";
@import "./styles/cards.css";

@theme {
    /* Font family */
    --font-poppins: "Poppins", sans-serif;
    --font-dm-sans: "DM Sans", sans-serif;

    /* Color */
    --color-dark-primary: rgba(34, 35, 37, 1);
    --color-dark-secondary: rgba(74, 80, 92, 1);
    --color-dark-transparant: rgba(0, 0, 0, 0.8);

    --color-other: rgba(58, 53, 65, 0.12);
    --color-other-op1: rgba(241, 241, 241, 1);
    --color-base: rgba(244, 245, 250, 1);
    --color-primary-light: rgba(255, 255, 255, 1);
    --color-secondary-light: rgba(193, 194, 196, 1);

    --color-warning: rgba(252, 233, 27, 1);

    --color-primary: rgba(62, 207, 76, 1);
    --color-primary-100: rgba(226, 252, 217, 0.8);

    --color-tertiary: rgba(246, 73, 32, 1);
}

@layer base {
    h1 {
        font-family: var(--font-poppins), Helvetica, sans-serif;
    }

    p {
        font-family: var(--font-dm-sans), Helvetica, sans-serif;
    }
}

@layer component {
    /* Homepoge */

    .banner {
        @apply mt-[60px] flex flex-col justify-center items-center gap-[24px] py-[44px] px-[20px] md:pt-[82px] md:pb-[64px] md:px-[120px] rounded-lg;
    }

    .hero {
        background-image: url("/src/assets/banner_1.jpg");
        @apply bg-center bg-cover bg-repeat overflow-hidden;
    }

    .banner-cta {
        background-image: url("/src/assets/banner_2.jpg");
        @apply bg-center bg-cover bg-repeat gap-[40px];
    }

}

@layer utilities {
    nav .link-nav {
        @apply text-[16px] font-medium leading-[1.4] tracking-[0.2] hover:bg-amber-300 hover:text-white text-dark-secondary border-b w-full border-other py-[16px] px-[12px] duration-100
    }

    nav button {
        @apply border-b w-full border-other py-[16px] px-[12px] hover:bg-amber-400 hover:text-white duration-100
    }

    /* Homepage */

    .hero .title {
        @apply max-w-[280px] md:max-w-[920px] text-2xl md:text-[48px] text-white font-bold text-center leading-[1.1];
    }

    .hero .text {
        @apply max-w-[280px] md:max-w-[920px] text-sm md:text-[16px] text-white font-medium text-center leading-[1.4] tracking-[0.2px];
    }

    .hero .btn-cta {
        @apply max-w-[280px] md:max-w-fit bg-primary rounded-md py-[10px] px-[26px] text-xs md:text-[16px] text-white leading-[1.4] tracking-[0.2px] hover:bg-white hover:text-primary duration-150;
    }

    .diveder {
        @apply w-full h-[1px] bg-other;
    }

    .social-link {
        @apply border p-2 rounded-4xl text-[20px] text-dark-secondary hover:text-tertiary duration-150;
    }

    .banner-cta .title {
        @apply text-[16px] md:text-[18px] font-medium text-secondary-light
    }

    .banner-cta .desc .title {
        @apply font-semibold text-2xl md:text-[32px] leading-[1.2] text-primary-light;
    }

    .banner-cta .desc .text {
        @apply text-sm md:text-[16px] font-normal leading-[1.4] tracking-[0.2] text-base;
    }
}